services:
  mariadb:
    image: docker.io/bitnami/mariadb:latest
    container_name: moodle_db
    restart: unless-stopped
    environment:
      #- ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_USER=bn_moodle
      - MARIADB_ROOT_PASSWORD=${ROOT_PASSWORD}
      - MARIADB_DATABASE=bitnami_moodle
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_unicode_ci
    volumes:
      - ./mariadb_data:/bitnami/mariadb
    ports:
      - 127.0.0.1:3306:3306
    networks:
      - moodle-network
  redis:
    container_name: moodle_redis
    image: redis
    networks:
      - moodle-network
  moodle:
    build:
      context: ./config/build
      dockerfile: ./Dockerfile
    #image: docker.io/bitnami/moodle:4.5
    container_name: moodle
    restart: unless-stopped
    # ports:
    #   - '80:8080'
    #   - '443:443'
    environment:
      - MOODLE_DATABASE_HOST=mariadb
      - MOODLE_DATABASE_PORT_NUMBER=3306
      - MOODLE_DATABASE_USER=bn_moodle
      - MOODLE_DATABASE_NAME=bitnami_moodle
      - MOODLE_DATABASE_PASSWORD=${MOODLE_DATABASE_PASSWORD}
      - MOODLE_PASSWORD=moodle
      #- ALLOW_EMPTY_PASSWORD=yes
      - MOODLE_REDIS_HOST=redis
      - ALLOW_EMPTY_PASSWORD=no
      - BITNAMI_DEBUG=true
      - PHP_MEMORY_LIMIT=1024M
      - PHP_MAX_EXECUTION_TIME=900
      - PHP_MAX_INPUT_TIME=600
      - PHP_MAX_INPUT_VARS=5000
      - PHP_UPLOAD_MAX_FILESIZE=128M
      - PHP_POST_MAX_SIZE=128M
      - PHP_OPCACHE_ENABLED=true

    volumes:
      - ./moodle_data:/bitnami/moodle
      - /mnt/moodle_data:/bitnami/moodledata
      - /mnt/moodle_course_backups:/bitnami/moodle_course_backups
      - ./config/php-fpm/www.conf:/opt/bitnami/php/etc/php-fpm.d/www.conf
      - ./config/php-fpm/php-fpm.conf:/opt/bitnami/apache2/conf/extra/php-fpm.conf
      - ./config/php-opcache/opcache-settings.ini:/opt/bitnami/php/etc/conf.d/opcache-settings.ini:ro
      # mods
      - ./plugins/mod/groupmembers:/bitnami/moodle/mod/groupmembers
      - ./plugins/mod/questionnaire:/bitnami/moodle/mod/questionnaire
      - ./plugins/mod/coursecertificate:/bitnami/moodle/mod/coursecertificate
      - ./plugins/mod/rocketchat:/bitnami/moodle/mod/rocketchat
      - ./plugins/mod/collabora:/bitnami/moodle/mod/collabora
      - ./plugins/mod/attendance:/bitnami/moodle/mod/attendance
      - ./plugins/mod/attendanceregister:/bitnami/moodle/mod/attendanceregister
      #      - ./plugins/mod/booking:/bitnami/moodle/mod/booking
      - ./plugins/mod/checklist:/bitnami/moodle/mod/checklist
      - ./plugins/mod/choicegroup:/bitnami/moodle/mod/choicegroup
      - ./plugins/mod/reengagement:/bitnami/moodle/mod/reengagement
      - ./plugins/mod/zoom:/bitnami/moodle/mod/zoom



      #      - ./plugins/mod/matrix:/bitnami/moodle/mod/matrix

      # blocks
      - ./plugins/blocks/sharing_cart:/bitnami/moodle/blocks/sharing_cart
      - ./plugins/blocks/configurable_reports:/bitnami/moodle/blocks/configurable_reports

      # filters
      - ./plugins/filter/filtercodes:/bitnami/moodle/filter/filtercodes
      - ./plugins/filter/generico:/bitnami/moodle/filter/generico
      - ./plugins/filter/mb2shortcodes:/bitnami/moodle/filter/mb2shortcodes

      # editor
      - ./plugins/lib/editor/tiny/plugins/c4l:/bitnami/moodle/lib/editor/tiny/plugins/c4l

      # auth
      #      - ./plugins/auth/cas:/bitnami/moodle/auth/cas
      - ./plugins/auth/casattras:/bitnami/moodle/auth/casattras

      # admin tools
      - ./plugins/admin/tool/certificate:/bitnami/moodle/admin/tool/certificate

      # course format

      # local plugins
      - ./plugins/local/modcustomfields:/bitnami/moodle/local/modcustomfields
      - ./plugins/local/staticpage:/bitnami/moodle/local/staticpage

      - ./plugins/local/mb2builder:/bitnami/moodle/local/mb2builder
      - ./plugins/local/mb2megamenu:/bitnami/moodle/local/mb2megamenu
      - ./plugins/local/mb2reviews:/bitnami/moodle/local/mb2reviews
      - ./plugins/local/mb2coursenotes:/bitnami/moodle/local/mb2coursenotes

      - ./plugins/local/padmap:/bitnami/moodle/local/padmap
      - ./plugins/local/oauth2:/bitnami/moodle/local/oauth2

      # enrolment
      - ./plugins/enrol/autoenrol:/bitnami/moodle/enrol/autoenrol

      # theme
      - ./theme/mb2nl:/bitnami/moodle/theme/mb2nl
    depends_on:
      - mariadb
      - redis
    networks:
      - moodle-network
  caddy:
    image: caddy:latest
    container_name: moodle_caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy_data:/data
      - ./caddy_config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - moodle
    networks:
      - moodle-network
      - proxy-net
networks:
  moodle-network:
  proxy-net:
    external: true
